.navbar-default {
    background: white;
    border-bottom: 1px solid #1963b6;
}
.navbar-default .navbar-brand {
    color: #1963b6;
}
.content {
    margin: auto;
    display: block;
    width: 800px;
}
.logo {
    width: 800px;
}
.table-container {
    clear: both;
}
.table-container .table {
    width: 800px;
    overflow: auto;
    box-sizing: content-box;
    display: block;
    max-height: 700px;
    table-layout: fixed;
}
.table th {
    min-width: 140px;
}
.table td {
    position: relative;
    height: 50px;
}
.table .cell {
    max-width: 140px;
    overflow: hidden;
    word-break: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.table .cell:hover {
    position: absolute;
    background: white;
    z-index: 100;
    white-space: normal;
    box-shadow: 0px 0px 4px #1e90ff;
}
.table-container nav  {
    text-align: center;
}
.attach-data {
    float: right;
}
.model-data dd {
    min-height: 2em;
}
.model-data {
    clear: both;
}
.metadata {
    float: right;
}
.attach-data {
    color: white;
}
.navbar-brand {
    background: url("/static/logo.png");
    text-indent: -9999px;
    background-size: 100px;
    width: 100px;
    height: 32px;
    margin-top: 8px;
    margin-left: 0 !important;
}
#leafletmap {
    height: 500px;
}
.section, .statistic {
    margin-top: 1em;
    border: 1px solid #1963b6;
    border-radius: 3px;
}
.statistic {
    display: inline-block;
    width: 189px;
    padding: 4px;
    margin-top: 1em;
    margin-right: 8px;
    height: 100px;
    text-align: center;
    font-size: 1.1em;
}
.species {
    font-weight: bold;
    height: 3em;
    padding: 5px;
}
.title-text {
    margin: 1em;
    display: inline-block;
}
.caption {
    margin: 1em;
}
.has-recording.checkbox {
    margin-left: 2em;
    margin-right: 2em;
}