.navbar-default {
    background: white;
    border-bottom: 1px solid #1963b6;
}
.navbar-default .navbar-brand {
    color: #1963b6;
}
.content {
    margin: auto;
    display: block;
    width: 800px;
}
.logo {
    width: 800px;
}
.table-container {
    max-width: 800px;
    overflow: auto;
    box-sizing: content-box;
    display: inline-block;
}
.table th {
    min-width: 120px;
}