{% load static %}
<!doctype html>
<html>
    <head>
      <title>{% block title %}WAB-net{% endblock %}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
      <link rel="stylesheet" href="{% static "styles.css" %}" />
    </head>
    <body>
      {% block navbar %}
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WAB-Net</a>
          </div>
  
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="{% if request.resolver_match.view_name == 'sites' %}active{% endif %}"><a href="{% url 'sites' %}">Sites</a></li>
              <li class="{% if request.resolver_match.view_name == 'bats' %}active{% endif %}"><a href="{% url 'bats' %}" class="">Bats</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% if request.user.is_superuser %}
                      <li><a href="/admin/">Admin Page</a></li>
                    {% endif %}
                    <li><a href="{% url 'download_all_data' %}">Download Data CSVs</a></li>
                    <li><a href="/accounts/password/change?next={{ request.path }}">Change Password</a></li>
                    <li><a href="/accounts/logout/?next={{ request.path }}">Log Out</a></li>
                  </ul>
                </li>
              {% else %}
                <li><a href="/accounts/login/?next={{ request.path }}">Log In</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      {% endblock %}
      <div class="content">{% block content %}{% endblock %}</div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
