{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}Bat Data{% endblock %}

{% block content %}
    <div class="panel panel-primary metadata">
        <div class="panel-heading">Metadata</div>
        <dl class="panel-body">
            <dt>Created By:</dt>
            <dd>{{ bat_data.created_by }}</dd>
            <dt>Created At:</dt>
            <dd>{{ bat_data.created_at }}</dd>
        </dl>
    </div>
    <h1>{{bat_data.title}}</h1>
    <div class="model-data panel panel-primary">
        <div class="panel-heading">Primary Bat Data</div>
        <dl class="panel-body">
            {% for field, value in main_data %}
                <dt>{{ field.verbose_name }}</dt>
                <dd>
                    {% if value.url|length > 0 %}
                        <a href="{{ value.url }}">{{value.url}}</a>
                    {% else %}
                        {{ value }}
                    {% endif %}
                </dd>
            {% endfor %}
            <dt>Bat Species:</dt>
            <dd>{{ bat_species }}</dd>
        </dl>
    </div>

    <div class="model-data panel panel-primary">
        <div class="panel-heading">
            Secondary Data Table
            <a class="attach-data" href="{% url 'attach_data' bat_data.uuid %}" role="button">
                Attach Secondary Data
            </a>
        </div>
        <div class="panel-body">
        {% render_table secondary_data_table %}
        </div>
    </div>

    {% for table in tables %}
        <div class="model-data panel panel-primary">
            <div class="panel-heading">{{table.name}}</div>
            <div class="panel-body">
                {% render_table table %}
            </div>
        </div>
    {% endfor %}

    <div class="model-data panel panel-primary">
        <div class="panel-heading">Trapping Event Data</div>
        <dl class="panel-body">
            <dt>Site</dt>
            <dd><a href="{% url 'sites' bat_data.parent.parent.uuid %}">{{ bat_data.parent.parent.title }}</a></dd>
            {% for field in trapping_event_form %}
                <dt>{{ field.label_tag }}</dt>
                <dd>
                    {% with field.value as value %}
                    {% if value.url|length > 0 %}
                        <a href="{{ value.url }}">{{value.url}}</a>
                    {% else %}
                        {{ value }}
                    {% endif %}
                    {% endwith %}
                </dd>
            {% endfor %}
        </dl>
    </div>

    {% if 'ID' in barcoding_data %}
        <div class="model-data panel panel-primary">
            <div class="panel-heading">Barcoding Data {{ barcoding_data.animal_id }}</div>
            <dl class="panel-body">
                {% for key,val in barcoding_data.items %}
                    {% if val != '' and val != None and key != 'ID' and key != 'CoV Screening Data' %}
                        {% if key in special_screening_keys %}
                            <dt>{{ key }}</dt>
                            <dd>
                                {% if key == 'Raw CoV sequence - .ab1 files' %}
                                    <ul class="list-group">
                                        {% for fn in screening_filename_list_dict.raw_cov_sequence_ab1 %}
                                            <li class="list-group-item" style="border: none"><a href="{{ base_url }}{{ fn }}">{{ fn }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% elif key == 'Raw CoV sequence - .txt files' %}
                                    <ul class="list-group">
                                        {% for fn in screening_filename_list_dict.raw_cov_sequence_txt %}
                                            <li class="list-group-item" style="border: none"><a href="{{ base_url }}{{ fn }}">{{ fn }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% elif key == 'Raw CoV sequence - .pdf files' %}
                                    <ul class="list-group">
                                        {% for fn in screening_filename_list_dict.raw_cov_sequence_pdf %}
                                            <li class="list-group-item" style="border: none"><a href="{{ base_url }}{{ fn }}">{{ fn }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% elif key == 'Aligned CoV sequence (.fasta file) submitted to BLAST' %}
                                    <ul class="list-group">
                                        {% for fn in screening_filename_list_dict.aligned_cov_sequence_submitted_to_blast %}
                                            <li class="list-group-item" style="border: none"><a href="{{ base_url }}{{ fn }}">{{ fn }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% elif key == 'Gel photo - labeled' %}
                                    <ul class="list-group">
                                        {% for fn in screening_filename_list_dict.gel_photo_labeled %}
                                            <li class="list-group-item" style="border: none"><img src="{{ base_url }}{{ fn }}"></li>
                                        {% endfor %}
                                    </ul>
                                {% elif key == 'Screenshot photo of top 5 BLAST matches' %}
                                    <ul class="list-group">
                                        {% for fn in screening_filename_list_dict.screenshot_top_5_BLAST_matches %}
                                            <li class="list-group-item" style="border: none"><img src="{{ base_url }}{{ fn }}"></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </dd>
                        {% else %}
                            <dt>{{ key }}</dt>
                            <dd>{{ val }}</dd>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </dl>
        </div>
    {% endif %}

    {% if 'ID' in screening_data %}
        <div class="model-data panel panel-primary">
            <div class="panel-heading">Screening Data {{ screeing_data.animal_id }}</div>
            <dl class="panel-body">
                {% for key,val in screening_data.items %}
                    {% if key != 'ID' and val != '' and val != None and key != 'id' %}
                        {% if key in special_screening_keys %}
                            <dt>{{ key }}</dt>
                            <dd>
                                {% if key == 'Raw CoV sequence - .ab1 files' %}
                                    <ul class="list-group">
                                        {% for fn in screening_filename_list_dict.raw_cov_sequence_ab1 %}
                                            <li class="list-group-item" style="border: none"><a href="{{ base_url }}{{ fn }}">{{ fn }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% elif key == 'Raw CoV sequence - .txt files' %}
                                    <ul class="list-group">
                                        {% for fn in screening_filename_list_dict.raw_cov_sequence_txt %}
                                            <li class="list-group-item" style="border: none"><a href="{{ base_url }}{{ fn }}">{{ fn }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% elif key == 'Raw CoV sequence - .pdf files' %}
                                    <ul class="list-group">
                                        {% for fn in screening_filename_list_dict.raw_cov_sequence_pdf %}
                                            <li class="list-group-item" style="border: none"><a href="{{ base_url }}{{ fn }}">{{ fn }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% elif key == 'Aligned CoV sequence (.fasta file) submitted to BLAST' %}
                                    <ul class="list-group">
                                        {% for fn in screening_filename_list_dict.aligned_cov_sequence_submitted_to_blast %}
                                            <li class="list-group-item" style="border: none"><a href="{{ base_url }}{{ fn }}">{{ fn }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% elif key == 'Gel photo - labeled' %}
                                    <ul class="list-group">
                                        {% for fn in screening_filename_list_dict.gel_photo_labeled %}
                                            <li class="list-group-item" style="border: none"><img src="{{ base_url }}{{ fn }}"></li>
                                        {% endfor %}
                                    </ul>
                                {% elif key == 'Screenshot photo of top 5 BLAST matches' %}
                                    <ul class="list-group">
                                        {% for fn in screening_filename_list_dict.screenshot_top_5_BLAST_matches %}
                                            <li class="list-group-item" style="border: none"><img src="{{ base_url }}{{ fn }}"></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </dd>
                        {% else %}
                            <dt>{{ key }}</dt>
                            <dd>{{ val }}</dd>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </dl>
    {% endif %}

{% endblock %}
