{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}WAB-Net Bat Table{% endblock %}

{% block content %}
    <h1>Bat Specimens</h1>
    <div>
        <form action="{{ request.path }}" class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="q" value="{{request.GET.q}}"/>
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
    {% render_table table %}
{% endblock %}
