{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}Site Data{% endblock %}

{% block content %}
    <div class="panel panel-primary metadata">
        <div class="panel-heading">Metadata</div>
        <dl class="panel-body">
            <dt>Created By:</dt>
            <dd>{{ site_data.created_by }}</dd>
            <dt>Created At:</dt>
            <dd>{{ site_data.created_at }}</dd>
        </dl>
    </div>
    <h1>{{site_data.title}}</h1>
    <!--
    <div class="model-data panel panel-primary">
        <div class="panel-heading">Primary Site Data</div>
        <dl class="panel-body">
            {% for field in form %}
                <dt>{{ field.label_tag }}</dt>
                <dd>{{ field.value }}</dd>
            {% endfor %}
        </dl>
    </div>
    -->
    <div class="model-data panel panel-primary">
        <div class="panel-heading">Primary Site Data</div>
        <dl class="panel-body">
            {% for key,val in site_data_dict.items %}
                <dt>{{ key }}</dt>
                <dd>{{ val }}</dd>
            {% endfor %}
        </dl>
    </div>

    {% for table in tables %}
        <div class="model-data panel panel-primary">
            <div class="panel-heading">{{table.name}}</div>
            {% render_table table %}
        </div>
    {% endfor %}

{% endblock %}
