{% extends "base.html" %}
{% load static %}

{% block title %}WAB-Net{% endblock %}

{% block head_additions %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>
{% endblock %}

{% block content %}
    <div class="section">
        <h4 class="title-text">Study sites</h4>
        <span class="caption">Sites you have permission to view are shown in green.</span>
        <div id="leafletmap"></div>
    </div>
    {% for species, samples in samples_by_species.items %}
        <a href="/bats?q={{ species }}"><div class="statistic">
            <div class="species">{{ species }}</div>
            <div class="samples">{{ samples }} samples</div>
        </div></a>
    {% endfor %}
    <script>
    var locations = {{locations_json | safe}};
    var myMap = L.map('leafletmap').setView([31, 52], 4);
	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        styleId: 22677
	}).addTo(myMap);
	
	locations.forEach(function(location){
	    L.circleMarker(location.coords, {
            fillColor: location.accessible ? '#00AA11' : '#AA1100',
            weight: 1,
            color: '#FFF',
            fillOpacity: 1.0
        }).bindPopup(`<a href="/sites/${location.id}">${location.title}, ${location.country}</a>`).addTo(myMap);
	});
    </script>
{% endblock %}
