{% extends "base.html" %}
{% load static %}

{% block title %}WAB-Net{% endblock %}

{% block head_additions %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
  integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
  crossorigin=""></script>
{% endblock %}

{% block content %}
    <div id="leafletmap"></div>
    <script>
    var locations = {{locationsJson | safe}};
    var myMap = L.map('leafletmap').setView([40.0, 20.0], 4);
	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(myMap);
	locations.forEach(function(location){
	    L.circleMarker(location.coords, {
            fillColor: location.accessible ? '#00AA11' : '#AA1100',
            weight: 0,
            color: '#000',
            fillOpacity: 1.0
        }).bindPopup(`<a href="/sites/${location.id}">${location.title}, ${location.country}</a>`).addTo(myMap);
	});
    </script>
{% endblock %}


{% block extra %}
    <img class="logo" src="{% static "logo.png" %}" alt="wabnet">
    <p>
        Despite growing recognition that bats are important hosts of zoonotic pathogens,
        there remains limited scientific knowledge of the distribution and ecology of bats,
        their pathogen diversity,
        and potential interfaces for transmission to humans and other species in Western Asia –
        an area encompassing over 20 countries in the Middle East and Near East.
        The Western Asia Bat Research Network (WAB-Net)
        represents the first coordinated research effort to understand the distribution
        and diversity of bats and their associated viruses, and,
        subsequently the risk of bat-borne disease emergence in Western Asia.
        The integrated approach of WAB-Net embodies a coordinated strategy
        to advance scientific knowledge around transboundary zoonotic disease emergence risk
        in Western Asia to inform early detection, diagnosis, and response.
    </p>
    <p><a href="mailto:wabnet@ecohealthalliance.org">wabnet@ecohealthalliance.org</p>
{% endblock %}
